<!-- <label>Name : </label>
<input type="text" name="" [(ngModel)]="nama">
<br>
<label>Detail : </label>
<input type="text"  name="" [(ngModel)]="detail">
<br> -->
 <input type="file" name=""  value="Select" (click)="fileChange($event)">
<br> 
<!-- <input type="button" name="" (click)="upload()" value="Upload">  -->
<button (click)="upload()">upoad</button>